.info {margin-bottom: 5px;}
label {width: 80px; display: inline-block; padding: 5px;}
.sex {margin-bottom: 5px;}
.hobbie {margin-bottom: 5px;}
.buttons {padding: 5px; margin-top: 15px; border: 10px;}
